h1 {
  text-align: center;
}


.intro {
  text-decoration: cornflowerblue;
  text-align:left;
  background-color: ivory;
  margin: 2px;
  border: 2px solid green;
  padding: 10px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1537526045572-fca8beed2a4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1742&q=80);

}

img {
  align-content:center;
  position: relative;
  width: 400px;
  height: 250px;
}

p {
  font-family: sans-serif;
  font-style:arial;
  animation-duration: 3s;
  animation-name: slidein;
}

.column {
  width: 100px;
  float: left;
}

.col-md-4 {
  float: left;
}

.col-md-4 h2 {
  color:rebeccapurple;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.welcome {
  color:rgb(18, 57, 88);
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

#end {
  text-shadow: 1px 2px 2px #1C6EA4;
  text-align: center;
}